* {
  font-family: "VT323", monospace;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 0px 0 white;
}

.add-shape-form {
  background: white;
  border: 0.1rem solid black;
  padding: 3rem;
}

.canvas {
  height: 800px;
  border: solid 0.1rem black;
  position: relative;
  overflow: hidden;
}

.canvas-stats {
  height: 800px;
}

.stat {
  margin-bottom: 0.5rem;
  background: white;
  padding: 0.5rem;
  width: 70%;
}

.stat-num {
  color: #0d6efd;
}

/* Dynamically inserted classes */

.new-shape {
  position: absolute;
  cursor: pointer;
}

.rectangle {
  background-color: green !important;
}

.square {
  background-color: red !important;
}

.circle {
  border-radius: 50%;
  background-color: purple;
}
